### National Chengchi University
### Department of Computer Science
### Introduction to Machine Learning
#### Term Project 2023
#### Simple Example
####
#### prepared by Chao-Lin Liu
#### Date: 22 November 2023

In [2]:
# 參考網址：https://scikit-learn.org/stable/modules/tree.html
# 參考網址：https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

In [5]:
# !pip install scikit-learn

In [6]:
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [7]:
trainfile = 'training_data.csv'
testfile = 'testing_data.csv'
# testanswers = 'test_nov28_task1_features_answers.csv'

In [8]:
# 讀入訓練資料檔案
df = pd.read_csv(trainfile)
df[0:5]

,id,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,label
0,0,16.0,NaN,46.88,72.98,NaN,0.25,6.17,21.35,4.47,NaN,8.94,NaN,0
1,1,16.0,481.0,30.06,32.89,1.000,0.56,11.93,NaN,2.46,0.25,8.94,0.75,0
2,2,11.0,477.0,43.36,44.42,NaN,0.45,2.07,19.22,NaN,0.00,9.00,0.36,0
3,3,14.0,363.0,25.93,NaN,0.429,0.50,10.77,19.35,NaN,0.53,8.86,0.86,0
4,4,NaN,210.0,19.09,16.57,0.091,0.27,10.97,14.62,1.34,0.30,8.91,1.00,0

In [ ]:
# 取用 features
features_list = ['col2','col3','col4','col5','col6','col7','c','7']
features = df[features_list]
features[0:5]

In [ ]:
# 取用 答案類別
targets = ['label']
labels = df[targets]

In [14]:
# 使用隨機森林分類器
clf = RandomForestClassifier(n_estimators=100)

In [15]:
# 進行訓練
clf = clf.fit(features, labels.values.ravel())

In [16]:
# 讀入測試資料檔案
df2 = pd.read_csv(testfile)
df2[0:5]

,id,0,1,2,3,4,5,6,7
0,0,0.002474,0.003941,0.002417,0.000817,0.014571,0.000000,0.004137,0.000000
1,1,0.000348,0.000152,0.009092,0.000934,0.002622,0.000000,0.007447,0.000000
2,2,0.003848,0.003165,0.004377,0.004784,0.006667,0.007927,0.007199,0.007180
3,3,0.002541,0.005478,0.002653,0.001517,0.008643,0.017725,0.004799,0.004103
4,4,0.002589,0.003912,0.001994,0.002801,0.002179,0.000000,0.007447,0.011396

In [17]:
# 取用測試檔案的 features
features2 = df2[features_list]
# 假設測試檔案包含正確答案
# target2 = df2[targets]

In [18]:
# 印出測試資料的預測類別
# 可以整理這裡的輸出上傳到 kaggle
pred=clf.predict(features2)
df = pd.DataFrame(pred, columns=['label'])
# 將 DataFrame 寫入 CSV 檔案
df.to_csv('sample_submission.csv', index=True, index_label='id')

In [ ]:
# 如果測試檔案內涵正確答案，直接計算分類結果的 accuracy
clf.score(features2, target2)