### National Chengchi University
### Department of Computer Science
### Introduction to Machine Learning
#### Term Project 2023
#### Simple Example
####
#### prepared by Chao-Lin Liu
#### Date: 22 November 2023

In [6]:
# 參考網址：https://scikit-learn.org/stable/modules/tree.html
# 參考網址：https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

In [5]:
# !pip install scikit-learn

In [4]:
# 升級 imbalanced-learn
#!pip install --upgrade imbalanced-learn

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE

In [2]:
trainfile = 'training_data.csv'
testfile = 'testing_data.csv'
# testanswers = 'test_nov28_task1_features_answers.csv'

In [3]:
# 讀入訓練資料檔案
df = pd.read_csv(trainfile)
df[0:5]

,Unnamed: 0,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15,x16,label
0,0,7.809,-4.121,-2.166,-4.045,NaN,-2.472,0.007,-2.081,NaN,-1.128,-0.521,-0.569,-0.985,-0.048,-8.003247,-4.806843,4.148356,A
1,1,2.134,-1.906,-0.834,NaN,-2.064,-1.704,1.233,0.420,0.204,-2.506,-0.914,-1.456,2.290,-2.858,17.200422,5.292260,-14.406137,A
2,2,7.471,-0.613,-1.064,7.556,-1.755,-2.192,3.216,1.288,-3.782,-2.145,-1.701,1.904,NaN,-2.389,19.900570,6.041156,NaN,A
3,3,-4.281,-0.603,1.108,0.021,-1.659,-0.710,0.458,NaN,-1.010,2.847,0.317,0.121,-1.123,-1.144,-0.012258,-0.583383,0.149031,B
4,4,NaN,4.037,-6.119,-0.283,-1.032,2.285,-0.816,-0.320,2.272,-1.083,1.182,-1.877,0.308,-0.802,-2.592070,NaN,4.365393,G

In [4]:
# 取用 features
features_list = ['x0','x1','x2','x3','x4','x5','x6','x7','x8','co9',"col10","col11","col12","col13"]
features = df[features_list]
features[0:5]

,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13
0,16.0,NaN,46.88,72.98,NaN,0.25,6.17,21.35,4.47,NaN,8.94,NaN
1,16.0,481.0,30.06,32.89,1.000,0.56,11.93,NaN,2.46,0.25,8.94,0.75
2,11.0,477.0,43.36,44.42,NaN,0.45,2.07,19.22,NaN,0.00,9.00,0.36
3,14.0,363.0,25.93,NaN,0.429,0.50,10.77,19.35,NaN,0.53,8.86,0.86
4,NaN,210.0,19.09,16.57,0.091,0.27,10.97,14.62,1.34,0.30,8.91,1.00

In [5]:
# 處理缺失值
imp = SimpleImputer(strategy="mean")
features = imp.fit_transform(features)

In [6]:
# 取用 答案類別
targets = ['label']
labels = df[targets]

In [7]:
# 處理不平衡的資料集
sm = SMOTE(random_state=42)
features, labels = sm.fit_resample(features, labels.values.ravel())

In [8]:
# 使用隨機森林分類器
clf = RandomForestClassifier(n_estimators=100)

In [9]:
# 進行訓練
clf = clf.fit(features, labels)

In [10]:
# 讀入測試資料檔案
df2 = pd.read_csv(testfile)
df2[0:5]

,id,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13
0,0,49,2660,54.29,39.89,0.102,0.98,10.40,19.70,2.21,0.0,9.0,0.86
1,1,63,3726,59.14,67.47,0.079,0.89,10.37,17.00,2.02,0.0,9.0,1.00
2,2,66,3316,50.24,36.69,0.061,1.00,11.10,18.07,1.88,0.0,9.0,0.97
3,3,13,107,8.23,6.19,0.077,0.08,9.22,13.73,1.63,0.0,9.0,0.69
4,4,144,4915,34.13,29.45,0.056,0.95,10.42,17.58,1.94,0.0,9.0,1.00

In [11]:
# 取用測試檔案的 features
features2 = df2[features_list]
# 假設測試檔案包含正確答案
# target2 = df2[targets]

In [12]:
# 處理測試資料的缺失值
features2 = imp.transform(features2)

In [13]:
# 印出測試資料的預測類別
# 可以整理這裡的輸出上傳到 kaggle
pred=clf.predict(features2)
df = pd.DataFrame(pred, columns=['label'])
# 將 DataFrame 寫入 CSV 檔案
df.to_csv('sample_submission.csv', index=True, index_label='id')

In [ ]:
# 如果測試檔案內涵正確答案，直接計算分類結果的 accuracy
clf.score(features2, target2)