### National Chengchi University
### Department of Computer Science
### Introduction to Machine Learning
#### Term Project 2023
#### Simple Example
####
#### prepared by Chao-Lin Liu
#### Date: 22 November 2023

In [2]:
# 參考網址：https://scikit-learn.org/stable/modules/tree.html
# 參考網址：https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

In [8]:
# !pip install scikit-learn

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE

In [2]:
trainfile = 'training_data.csv'
testfile = 'testing_data.csv'
# testanswers = 'test_nov28_task1_features_answers.csv'

In [3]:
# 讀入訓練資料檔案
df = pd.read_csv(trainfile)
df[0:5]

,id,0,1,2,3,4,5,6,7,label
0,0,0.001531,0.001071,0.001098,0.008285,0.006944,0.000000,0.007447,0.006268,1
1,1,0.001659,0.002180,0.009785,0.006185,0.005152,0.022569,0.005884,0.009573,0
2,2,0.001079,0.000783,0.000693,0.000934,0.013537,0.001101,0.006628,0.003989,0
3,3,0.002141,0.002553,0.000270,0.010502,0.003546,0.000000,0.007447,0.011396,1
4,4,0.001176,0.000451,0.002146,0.011669,0.001090,0.000000,0.007447,0.000000,1

In [4]:
# 取用 features
features_list = ['0','1','2','3','4','5','6','7']
features = df[features_list]
features[0:5]

,0,1,2,3,4,5,6,7
0,0.001531,0.001071,0.001098,0.008285,0.006944,0.000000,0.007447,0.006268
1,0.001659,0.002180,0.009785,0.006185,0.005152,0.022569,0.005884,0.009573
2,0.001079,0.000783,0.000693,0.000934,0.013537,0.001101,0.006628,0.003989
3,0.002141,0.002553,0.000270,0.010502,0.003546,0.000000,0.007447,0.011396
4,0.001176,0.000451,0.002146,0.011669,0.001090,0.000000,0.007447,0.000000

In [5]:
# 取用 答案類別
targets = ['label']
labels = df[targets]

In [6]:
# 使用隨機森林分類器
clf = RandomForestClassifier(n_estimators=100)

In [7]:
# 設定要調整的參數
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
}

In [ ]:
# 使用 GridSearchCV 進行參數調整
grid_search = GridSearchCV(clf, param_grid, cv=5)
grid_search.fit(features, labels)

C:\Users\jason\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [ ]:
# 使用最佳參數的模型
clf = grid_search.best_estimator_

In [16]:
# 讀入測試資料檔案
df2 = pd.read_csv(testfile)
df2[0:5]

,id,0,1,2,3,4,5,6,7
0,0,0.002474,0.003941,0.002417,0.000817,0.014571,0.000000,0.004137,0.000000
1,1,0.000348,0.000152,0.009092,0.000934,0.002622,0.000000,0.007447,0.000000
2,2,0.003848,0.003165,0.004377,0.004784,0.006667,0.007927,0.007199,0.007180
3,3,0.002541,0.005478,0.002653,0.001517,0.008643,0.017725,0.004799,0.004103
4,4,0.002589,0.003912,0.001994,0.002801,0.002179,0.000000,0.007447,0.011396

In [17]:
# 取用測試檔案的 features
features2 = df2[features_list]
# 假設測試檔案包含正確答案
# target2 = df2[targets]

In [18]:
# 印出測試資料的預測類別
# 可以整理這裡的輸出上傳到 kaggle
pred=clf.predict(features2)
df = pd.DataFrame(pred, columns=['label'])
# 將 DataFrame 寫入 CSV 檔案
df.to_csv('sample_submission.csv', index=True, index_label='id')

In [ ]:
# 如果測試檔案內涵正確答案，直接計算分類結果的 accuracy
clf.score(features2, target2)